

$color1: rgba(24, 40, 37, 1);
$color2: rgba(1, 111, 185, 1);
$color3: rgba(34, 174, 209, 1);
$color4: rgba(109, 142, 160, 1);
$color5: rgba(49, 59, 114, 1);


$colors : #05668D, #028090, #06D6A0, #F0F3BD, #FFEE88;

$colors : #8895B3, #8E94F2, #9FA0FF, #BBADFF, #DAB6FC;

$colors : #05668D, #028090, #00A896, #02C39A, #F0F3BD;