// --- Buttons ---- //

//-- scroll to top -- //

#return-to-top {
  position: fixed;
  float: left;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}


// -- back to top --- //




/// --- buttons with hover --- ///

.btn {
  color:white;
  text-decoration:none;
  width: 100%;
  padding:5px 10px;
  border-radius:3px;
  font-family: 'Poiret One', cursive;
  font-size: $font-large;
  // font-size:2em;
 }
 
 .btn-green {
    @include button-bg(#2ecc71);
 }
 
 .btn-blue {
    @include button-bg(#2286D1);
    // @include button-bg(#3498db);
 }
 
 .btn-yellow{
    @include button-bg(#f1c40f);
 }
 
 .btn-red {
    @include button-bg(#e74c3c);
 }
 
 /*Other Stylez*/
 .wrap {
   margin:0 auto;
   width:800px;
   text-align:center;
 }

