@import "base/base";
@import "animations/animations";

blockquote {
  border-left: 2px solid $color4;
  padding-left: $spacing-normal;
}

.box {
  background: $color5;
  padding: $spacing-normal;

  > p { margin: 0; }
}

.rounded-box {
  @extend .box;

  @include vendor(border-radius, 20px);

  // @include vendor(border-radius, $spacing-normal);

  // @include vendor(border-radius, 20px, 10px, 50px, 0px); <= $value... (with 3 dots) +    -webkit-#{$property}: nth($value,1);
}

