<h1> Welcome to liveBeats!</h1>
<div class="container">
  <app-search-form (submitdata)="handleSearchForm($event)"></app-search-form>
  <div class="container">
    <div class="wrapper">
      <div class="grid center">

        <app-event-list *ngFor="let event of events" [event]="event"></app-event-list>

      </div>
    </div>
  </div>

  <!-- <img [src]=> -->
  <!-- <img [src]="http://www.qygjxz.com/data/out/193/4351593-random-picture.jpg"> -->
  <div class="container">
    <div class="wrapper">
      <img class="home clipped" src="../../../assets/img/img.jpg" />
    </div>
  </div>
</div>