/////////// ----- ANIMATIONS ---- ///////


/// --- Image animation --- ///

.clipped {
  animation: to-square 1s infinite;
  align-items: center;
  // background: linear-gradient(70deg, #ff0000, #8100c2);
  box-sizing: border-box;
  clip-path: polygon(
    0 20%,
    5% 20%,
    5% 15%,
    10% 15%,
    10% 25%,
    15% 25%,
    15% 10%,
    20% 10%,
    20% 15%,
    25% 15%,
    25% 5%,
    30% 5%,
    30% 10%,
    35% 10%,
    35% 0,
    40% 0,
    40% 5%,
    45% 5%,
    45% 15%,
    50% 15%,
    50% 10%,
    55% 10%,
    55% 0,
    60% 0,
    60% 5%,
    65% 5%,
    65% 10%,
    70% 10%,
    70% 5%,
    75% 5%,
    75% 0,
    80% 0,
    80% 10%,
    85% 10%,
    85% 15%,
    90% 15%,
    90% 20%,
    100% 20%,
    100% 25%, 
    95% 25%, 
    95% 30%,
    90% 30%,
    90% 35%,
    95% 35%,
    95% 40%,
    100% 40%,
    100% 45%,
    90% 45%,
    90% 50%,
    95% 50%,
    95% 55%,
    100% 55%,
    100% 60%,
    85% 60%,
    85% 65%,
    80% 65%,
    80% 70%,
    90% 70%,
    95% 70%,
    95% 75%,
    90% 75%,
    90% 80%,
    85% 80%,
    85% 85%,
    80% 85%,
    80% 90%,
    70% 90%,
    70% 100%,
    65% 100%,
    65% 85%,
    60% 85%,
    60% 90%,
    55% 90%,
    55% 95%,
    50% 95%,
    50% 90%,
    45% 90%,
    45% 80%,
    40% 80%,
    40% 85%,
    35% 85%,
    35% 90%,
    30% 90%,
    30% 95%,
    25% 95%,
    25% 90%,
    20% 90%,
    20% 100%,
    15% 100%,
    15% 95%,
    10% 95%,
    10% 85%,
    0 85%,
    0 80%,
    5% 80%,
    5% 75%,
    10% 75%,
    10% 70%,
    5% 70%,
    5% 65%,
    15% 65%,
    15% 60%,
    10% 60%,
    10% 55%,
    5% 55%,
    5% 50%,
    0 50%,
    0 45%,
    5% 45%,
    5% 40%,
    10% 40%,
    10% 35%,
    0 35%,
    0 30%,
    5% 30%,
    5% 25%,
    0 25%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem;
  height: 37.5rem;
  justify-content: center;
  margin: 0 auto;
  transition: 0.1s ease;
  width: 37.5rem;
}

.clipped small {
  font-size: 40%;
}

.clipped:hover {
  animation-play-state: paused;
}

@keyframes to-square {
  50% {
    clip-path: polygon(
    0 0,
    5% 0,
    5% 0,
    10% 0,
    10% 0,
    15% 0,
    15% 0,
    20% 0,
    20% 0,
    25% 0,
    25% 0,
    30% 0,
    30% 0,
    35% 0,
    35% 0,
    40% 0,
    40% 0,
    45% 0,
    45% 0,
    50% 0,
    50% 0,
    55% 0,
    55% 0,
    60% 0,
    60% 0,
    65% 0,
    65% 0,
    70% 0,
    70% 0,
    75% 0,
    75% 0,
    80% 0,
    80% 0,
    85% 0,
    85% 0,
    90% 0,
    90% 0,
    95% 0,
    95% 0, 
    100% 0, 
    100% 30%,
    100% 30%,
    100% 35%,
    100% 35%,
    100% 40%,
    100% 40%,
    100% 45%,
    100% 45%,
    100% 50%,
    100% 50%,
    100% 55%,
    100% 55%,
    100% 60%,
    100% 60%,
    100% 65%,
    100% 65%,
    100% 70%,
    100% 70%,
    100% 70%,
    100% 75%,
    100% 75%,
    100% 80%,
    100% 80%,
    100% 85%,
    100% 85%,
    100% 90%,
    100% 90%,
    100% 100%,
    65% 100%,
    65% 100%,
    60% 100%,
    60% 100%,
    55% 100%,
    55% 100%,
    50% 100%,
    50% 100%,
    45% 100%,
    45% 100%,
    40% 100%,
    40% 100%,
    35% 100%,
    35% 100%,
    30% 100%,
    30% 100%,
    25% 100%,
    25% 100%,
    20% 100%,
    20% 100%,
    15% 100%,
    15% 100%,
    10% 100%,
    10% 100%,
    0 100%,
    0 80%,
    0 80%,
    0 75%,
    0 75%,
    0 70%,
    0 70%,
    0 65%,
    0 65%,
    0 60%,
    0 60%,
    0 55%,
    0 55%,
    0 50%,
    0 50%,
    0 45%,
    0 45%,
    0 40%,
    0 40%,
    0 35%,
    0 35%,
    0 30%,
    0 30%,
    0 25%,
    0 25%
  );
  }
}
