<div class="container">
    <div class="wrapper">
      <div class="grid center">
  
        <div *ngIf="!bar">
          <h1>Loading ....</h1>
        </div>
  
        <div class="card" *ngIf="bar">
          <div class="col pic">
            <img src="{{bar.imgUrl}}" />
          </div>
          <div>
            <div class="col title">
              <h3>Venue:</h3>
                <p>{{bar.venue}}</p>
            </div>
            <div class="col music">
              <h3>Phone:</h3>
                <p>{{bar.phone}}</p>
            </div>
            <div class="col description">
              <h3>Wesite:</h3>
                <p>{{bar.website}}</p>
            </div>
            <div class="col description">
                <h3>Address:</h3>
                <p>{{bar.location.street}}, {{bar.location.strNumber}}, {{bar.location.postCode}}, {{bar.location.city}}</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>