<ng-container *ngIf="!event">
  Loading ...
</ng-container>

<ng-container *ngIf="event">
  <h1>Event details</h1>
  <app-event-card [event]="event"></app-event-card>
  <div [ngClass]="{'is-user': user, 'is-anon': anon}">
    <div *ngIf="!!user">
      <a class="btn btn-blue top" *ngIf="user._id === event.bar" [routerLink]="['/events', event._id, 'edit']">Edit</a>
      <button class="btn btn-blue top" *ngIf="user._id === event.bar" (click)="handleDeleteClick()">Delete</button>
    </div>
  </div>
  <div>
    <h1>Bar info</h1>
  <app-bar-info-card [bar]="bar"></app-bar-info-card>
</div>
</ng-container>