<form id="form" (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

  <h1>Publish a new event</h1>
  
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && imageField.errors}">
    <input type="text" name="image" id="image" [(ngModel)]="event.imgUrl" #imageField="ngModel" [disabled]="processing" placeholder="Image url"/>
    <label for="image">Image</label>
    <div *ngIf="feedbackEnabled && imageField.errors">
    </div>
  </div>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && titleField.errors}">
    <input type="text" name="title" id="title" [(ngModel)]="event.title" #titleField="ngModel" required minlength="4" [disabled]="processing" placeholder="Artist name?"/>
    <label for="title">Title</label>
    <div *ngIf="feedbackEnabled && titleField.errors">
      <p *ngIf="titleField.errors.required" class="validation">title required</p>
      <p *ngIf="titleField.errors.minlength" class="validation">title is too short</p>
    </div>
  </div>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && dateField.errors}">
    <input type="date" name="date" id="date" [(ngModel)]="event.date" #dateField="ngModel" required minlength="4" [disabled]="processing"/>
    <label for="date">Date</label>
    <div *ngIf="feedbackEnabled && dateField.errors">
      <p *ngIf="dateField.errors.required" class="validation">date required</p>
      <p *ngIf="dateField.errors.minlength" class="validation">date is too short</p>
    </div>
  </div>

  <!-- <div class="field" [ngClass]="{'has-error': feedbackEnabled && timeField.errors}">
    <label>Time</label>
    <input type="text" name="time" [(ngModel)]="time" #timeField="ngModel" required minlength="4" [disabled]="processing"/>
    <div *ngIf="feedbackEnabled && timeField.errors">
      <p *ngIf="timeField.errors.required" class="validation">time required</p>
      <p *ngIf="timeField.errors.minlength" class="validation">time is too short</p>
    </div>
  </div> -->

  <div class="field">
    <select name="music-type" class="form-control btn btn-blue" id="music" [(ngModel)]="event.musicType">
      <option *ngFor="let music of musics" [value]="music">{{music}}</option>
    </select>
    <label for="music">Type of music</label>
  </div>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
    <input type="textarea" name="description" id="description" [(ngModel)]="event.description" #descriptionField="ngModel" required minlength="4" [disabled]="processing" placeholder="Description"/>
    <label for="description">Description</label>
    <div *ngIf="feedbackEnabled && descriptionField.errors">
    </div>
  </div>

  <div class="field submit">
    <button type="submit" class="btn btn-blue" [disabled]="processing">Submit</button>
    <div *ngIf="feedbackEnabled && form.invalid">
      <p class="validation">there are errors in the form, please review the fields</p>
    </div>
  </div>
</form>

<!-- {{event | json}} -->