<header id="site-header">
  <div class="container">
    
    <nav class="site-nav">
      <a [routerLink]="['/']"> Home </a>
      <a [routerLink]="['/']"> Search </a>
      <a [routerLink]="['create']"> Create </a>
      <a [routerLink]="['/']"> Sign up </a>
      <a [routerLink]="['/']"> Login </a>
    </nav>

  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
    &copy; Jenny. liveBeats
  </div>
</footer>

