<h1>----------- Styleguide -----------</h1>

<!-- colors : #05668D, #028090, #06D6A0, #F0F3BD, #FFEE88 -->
<!-- colors : #8895B3, #8E94F2, #9FA0FF, #BBADFF, #DAB6FC -->
<!-- colors : #05668D, #028090, #00A896, #02C39A, #F0F3BD -->

<body>
  <header id="headings">
    <div>
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
    </div>
  </header>
  <blockquote>
    Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking
    at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
    to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web
    page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected
    humour and the like).
  </blockquote>

  <div class="box">
    <p>Some paragraph blah blah blah</p>
  </div>
  <div class="rounded-box">
    <p>Some paragraph blah blah blah</p>
  </div>
  <p>Some paragraph blah blah blah</p>
  <p>Some paragraph blah blah blah</p>

  <ul>
    <li>technologists</li>
    <li>thinkers</li>
    <li>builders</li>
  </ul>

  <p>Knowledge should be free, actively shared and free from constraint if we are to progress</p>

  <p>Check out liveBeats
    <a href="live-beats.herokuapp.com">here</a> to learn even more about live music</p>
</body>

<div>

  <div class="NavBar m0">
    <h1 class="m0">My heading 1</h1>
    <h2 class="m0" id="SpecialHeading">My heading 2</h2>
    <h3 class="m0">My heading 3</h3>

    <p>Paragraph inside div</p>
    <p>Paragraph inside div</p>
    <p>Paragraph inside div</p>
    <p>Forth paragraph inside div</p>

    <span>my span</span>

    <div>

      <div>
        <span>my embedded span</span>
      </div>
    </div>
  </div>

  <p>This is right after the nav bar</p>
  <p>This is right after the nav bar</p>
  <p>This is right after the nav bar</p>

  <span>my span</span>

</div>

<p>My text is in here :)</p>

<p>This is a
  <strong>strong</strong> sentence with some
  <em>emphasis</em>
  <em>included</em>
</p>

<p>This is a link to
  <a href="http://www.google.com">Google</a> go on, click it</p>

<!-- Headings -->
<h1>My header</h1>
<h2>My header</h2>
<h3>My header</h3>

<!-- Paragraph -->
<p>This is a paragraph of text :)</p>

<!-- Links (anchors) -->
<p>This is a link to google
  <a href="http://www.google.com">Click here</a>
</p>

<!-- Image -->
<img src="image.jpg" width="50" />

<!-- Inline vs block -->
<p>This is a paragraph</p>
<p>This is a paragraph</p>

<span>This is a span</span>
<br/>
<span>This is a span</span>
<br>
<span>This is a span</span>

<!-- Horizontal rule -->
<hr>

<!-- A block quote -->
<blockquote>This is a block quote</blockquote>

<!-- Some code -->
<pre>var item1 = "mmmm";</pre>
<pre>var some2 = "iiii";</pre>

<p>When using the
  <code>item1</code> variable...</p>

<!-- Lists -->
<ul>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>

<ol>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ol>

<!-- Bold -->
<p>Some
  <b>bold</b> text and some
  <strong>strong</strong> text</p>

<!-- Italic -->
<p>Some
  <i>italic</i> text and some
  <em>emphasized</em> text</p>

<!-- Div general container -->
<div>
  <span>test</span>
</div>
<div>
  <span>test</span>
</div>

<!-- Buttons -->
<p>
  <button>my button</button>
</p>

<!-- Label -->
<p>
  <label for="myInput">Username</label>
</p>

<!-- Input -->
<p>
  <input id="myInput" value="my text" />
</p>

<!-- Multi line text box -->
<p>
  <textarea>test</textarea>
</p>

<!-- A group of options to select -->
<select>
  <option>Option 1</option>
  <option selected>Option 2</option>
  <option>Option 3</option>
</select>

<!-- Responsive -->

<div class="container header">
  <div class="wrapper">
    <div class="grid">
      <div class="col center">
        <h1>Responsive</h1>
        <p>text text text text text text text text </p>

        <div class="grid">
          <div class="col half right"> <div class="btn"> About</div></div>
          <div class="col half right"> <div class="btn"> Contact me </div></div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="wrapper">
    <div class="grid center">
      <div class="col"> Content A </div>
      <div class="col"> Content B </div>
      <div class="col"> Content C </div>
      <div class="col"> Content D </div>
    </div>
  </div>
</div>