<div class="grid center">
    <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate>
            
      <div>
        <h2>
          What do you feel for today?
        </h2>
        <div class="col search">
            <select name="music-type" class="btn btn-blue" id="music" [(ngModel)]="selectedMusic">
            <option *ngFor="let music of musics" [value]="music">{{music}}</option>
          </select>
        </div>
        <div class="col search">
          <button type="submit" class="btn btn-blue">Search</button>
        </div>
      </div>
    </form>
  </div>
  <!-- -{{event | json}}- -->